html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-wrap: break-word;
    background-color: #FFF;
    color: #23272A;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

::-moz-selection {
    background-color: #6E3DD9;
    color: #FFF;
}

::selection {
    background-color: #6E3DD9;
    color: #FFF;
}

header {
    height: 3.5rem;
    padding: 0 5%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #6E3DD9;
    -webkit-box-shadow: 0 0.5rem 1.5rem 0 #6E3DD9;
    box-shadow: 0 0.5rem 1.5rem 0 #6E3DD9;
    color: #FFF;
    z-index: 100;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header a {
    color: #FFF;
    text-decoration: none;
    opacity: 1;
    -webkit-transition: all 500ms 0s ease-in-out;
    transition: all 500ms 0s ease-in-out;
}

header a:hover {
    opacity: 0.5;
}

header .logo {
    font-size: 1.5rem;
}

header .margin {
    width: 10%;
}

header .menu input {
    display: none;
}

header .menu input:checked ~ .menu-btn div:nth-child(1) {
    bottom: -.25rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

header .menu input:checked ~ .menu-btn div:nth-child(2) {
    opacity: 0;
}

header .menu input:checked ~ .menu-btn div:nth-child(3) {
    top: -.25rem;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

header .menu input:checked ~ .menu-list {
    height: calc(100vh - 3.5rem);
    width: 50%;
    padding: 0 10%;
    position: absolute;
    top: 3.5rem;
    left: 0;
    display: block;
    background-color: #6E3DD9;
    -webkit-box-shadow: 0 0.5rem 1.5rem 0 #6E3DD9;
    box-shadow: 0 0.5rem 1.5rem 0 #6E3DD9;
}

header .menu input:checked ~ .menu-list * {
    margin: 0 !important;
    padding: .5rem 0;
    display: block;
}

header .menu input:checked ~ .menu-list .dropdown {
    position: static;
}

header .menu .menu-btn {
    display: none;
    cursor: pointer;
}

header .menu .menu-btn div {
    height: .25rem;
    width: 2rem;
    position: relative;
    background-color: #FFF;
    border-radius: 100rem;
    -webkit-transition: all 500ms 0s ease-in-out;
    transition: all 500ms 0s ease-in-out;
}

header .menu .menu-btn div:nth-child(1) {
    bottom: .4rem;
}

header .menu .menu-btn div:nth-child(3) {
    top: .4rem;
}

header .menu .menu-list {
    z-index: 100;
}

header .menu .menu-list .m {
    margin: 0 .5rem;
}

header .menu .menu-list .login {
    padding: .75rem 1rem !important;
    border-radius: 100rem;
    background-color: #FFF;
    color: #6E3DD9;
}

header .menu .menu-list .account {
    display: none !important;
}

header .menu .menu-list .account:hover .dropdown {
    display: block;
}

header .menu .menu-list .account .name {
    padding: .75rem 1rem;
    border-radius: 100rem;
    background-color: #FFF;
    color: #6E3DD9;
    opacity: 1;
    -webkit-transition: all 500ms 0s ease-in-out;
    transition: all 500ms 0s ease-in-out;
}

header .menu .menu-list .account .name:hover {
    opacity: 0.5;
}

header .menu .menu-list .account .dropdown {
    width: 10rem;
    padding: .5rem 1rem;
    position: absolute;
    top: 3rem;
    right: calc(1%);
    display: none;
    z-index: 100;
    background-color: #FFF;
    border: 0.5rem solid #6E3DD9;
    border-radius: 1rem;
    color: #6E3DD9;
    text-align: center;
}

header .menu .menu-list .account .dropdown a {
    margin: .5rem 0 !important;
    padding: .25rem;
    display: block;
    border-radius: 100rem;
    color: #6E3DD9;
}

header .menu .menu-list .account .dropdown a:hover {
    background-color: #23272A;
    color: #FFF;
    opacity: 1;
}

@media screen and (max-width: 933px) {
    header .menu .margin {
        display: none;
    }
    header .menu .menu-list {
        display: none;
    }
    header .menu .menu-btn {
        display: block;
    }
    
        .introduce-wrapper {
            display: inline;
        }
        .introduce {
            vertical-align: top;
        }
        .introduce img {
            display: none;
        }
}

    .title {
        margin: 0;
        padding: 10rem 10%;
        background-color: #6E3DD9;
        color: #FFF;
    }

    .content {
        padding: 3rem 10%;
    }

    .content a {
        -webkit-transition: all 500ms 0s ease-in-out;
        transition: all 500ms 0s ease-in-out;
    }

    .content .rtbtn {
    padding: 1rem 2rem;
    margin: 1rem .5rem;
    border: solid #6E3DD9;
    border-radius: .5rem;
    display: inline-block;
    background-color: #6E3DD9;
    color: #FFF;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .content .rtbtn:hover {
    background-color: #5021b6;
}

    .index-html .top {
    height: calc(100vh - 3.5rem);
    padding: 0 10%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    background-color: #6E3DD9;
    background-image: url("../img/icon.webp");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left center;
    color: #FFF;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .index-html .top div {
    padding: 2.5rem 0;
}

@media screen and (max-width: 1067px) {
    .index-html .top {
    background-image: none;
}
    .index-html .top div {
    background-image: url("../img/icon.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
}

    .index-html .function {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

    .index-html .function .item {
    width: 20rem;
    margin: .5rem;
    padding: .5rem;
    background-color: #F6F6F6;
    border: 0.25rem solid #23272A;
    border-radius: 1rem;
    text-align: center;
}

    .index-html .function .item img {
    max-width: 100%;
    max-height: 10rem;
}

    .index-html .function .item p:first-child {
    font-size: 1.3rem;
}

    .news-html .item {
    margin: .5rem 0;
    padding: .5rem 1rem;
    border-left: 0.25rem solid #23272A;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #F6F6F6;
}

code {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0.1vw; padding: 0.1vw; border-radius: 3px;
}

.help-html a { font-size: 20px; }

.help-html .item {
    display: block;
    margin: .5rem 0;
    padding: .5rem 1rem;
    border-left: 0.25rem solid #23272A;
    background-color: #F6F6F6;
}

    .help-html .item.description:hover:before {
    content: attr(data-description);
    position: absolute;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    background-color: #23272A;
    color: #FFF;
    padding: .25rem .5rem;
    border-radius: .5rem;
}

    .description.span {
    display: inline-block;
    margin-right : 30px;
}

    .credit-html h1, .credit-html h2 {
    border-bottom: .25rem solid;
}

    .credit-html .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

    .credit-html .icon img {
    height: 10rem;
    width: 10rem;
    margin-right: 1rem;
}

    .credit-html .group {
    padding: .25rem .5rem;
    border-radius: 100rem;
    color: #FFF;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .credit-html .group.c-1 {
    background-color: #3498db;
}

    .credit-html .group.c-2 {
    background-color: #1abc9c;
}

    .credit-html .group.c-3 {
    background-color: #9b59b6;
}

    .credit-html .group.c-4 {
    background-color: #e91e63;
}

    .credit-html .group.c-5 {
    background-color: #e74c3c;
}

    .terms-html h1, .terms-html h2 {
    border-bottom: .25rem solid;
}

    .status-html hr {
        height: .25rem;
        margin: 2rem 0;
        border: none;
        background-color: #23272A;
    }

    .index-html .introduce-wrapper {
    text-align: center;
}

    .index-html .introduce-wrapper-white {
    background: #FFF;
}

    .index-html .introduce-wrapper-black {
    background: #eeeeee;
}

    .index-html .introduce {
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    word-break: break-all;
    padding: 2rem 2%;
}

    .index-html .introduce img {
    height: 18vw;
    width: 18vw;
}

footer {
    padding: 1.5rem 10%;
    background-color: #23272A;
    color: #FFF;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

footer .menu {
    padding-bottom: 1.5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 5rem 1fr;
    grid-template: 1fr / 5rem 1fr;
}

footer .menu img {
    height: 5rem;
    width: 5rem;
}

footer .menu a {
    color: #FFF;
    text-decoration: none;
    opacity: 1;
    -webkit-transition: all 500ms 0s ease-in-out;
    transition: all 500ms 0s ease-in-out;
}

footer .menu a:hover {
    opacity: 0.5;
}

footer .menu .menu-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
}

footer .menu .menu-list .item {
    margin: 0 1rem;
}

footer .menu .menu-list .item .m-title {
    font-size: 1.3rem;
    border-bottom: 0.1rem solid #FFF;
}

footer .menu .menu-list .item div:first-child {
    padding: 0 .5rem;
}

footer .menu .menu-list .item div:not(:first-child) {
    padding: .15rem 1rem;
}

footer .menu .menu-list .item div:nth-child(2) {
    padding: .3rem 1rem .15rem 1rem;
}

footer .menu .menu-list .item div:last-child {
    padding: .15rem 1rem .3rem 1rem;
}

footer .copyright {
    text-align: center;
}

@media screen and (max-width: 1085px) {
    footer .menu-list {
        -ms-grid-rows: auto auto !important;
        -ms-grid-columns: 1fr 1fr !important;
        grid-template: auto auto / 1fr 1fr !important;
    }
    footer .menu-list .item:nth-child(n + 3) {
        margin: 1rem 1rem 0 1rem;
    }
}

@media screen and (max-width: 601px) {
    footer .menu {
        -ms-grid-rows: 5rem 1fr !important;
        -ms-grid-columns: 1fr !important;
        grid-template: 5rem 1fr / 1fr !important;
    }
    footer .menu-list {
        -ms-grid-rows: auto auto auto auto !important;
        -ms-grid-columns: 1fr !important;
        grid-template: auto auto auto auto / 1fr !important;
    }
    footer .menu-list .item:nth-child(n + 2) {
        margin: 1rem 1rem 0 1rem !important;
    }
}
